{% trans_default_domain 'FOSUserBundle' %}

<h3 class="page-header">Changer le mot de passe</h3>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

<div class="text-danger">
    {{ form_errors(form) }}
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 ">
        <label for="current_password">{{ form_label(form.current_password, 'Mot de passe actuel *') }}</label>
        {{ form_errors(form.current_password) }}
    </div>

    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                {{ form_widget(form.current_password, { 'attr' : { 'class' : 'form-control'} }) }}
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 ">
        <label for="new_password">{{ form_label(form.plainPassword.first, 'Nouveau mot de passe *') }}</label>
        {{ form_errors(form.plainPassword.first) }}
    </div>

    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                {{ form_widget(form.plainPassword.first, { 'attr' : { 'class' : 'form-control'} }) }}
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 ">
        <label for="repeat_password">{{ form_label(form.plainPassword.second, 'Répéter le nouveau mot de passe *') }}</label>
        {{ form_errors(form.plainPassword.second) }}
    </div>

    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">
        <div class="form-group">
            <div class="form-line">
                {{ form_widget(form.plainPassword.second, { 'attr' : { 'class' : 'form-control'} }) }}
            </div>
        </div>
    </div>
</div>

{{ form_rest(form) }}


<div>
    <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary"/>
</div>
{{ form_end(form) }}
